
.ta-center {
  text-align: center;
}
button {
  font-weight: 900;
}
.GreenButton {
  background: green;
  font-size: 20px;

}
.RedButton {
  background:red;
  font-size: 20px;

}
.YellowButton {
  background: yellow;
  font-size: 20px;
  color: green;

}
.AddButton {
  font-size: 25px;
  font-weight: 900;
  color: green;
  background: whitesmoke;
}
body {
  width: 100%;
  position: relative;
  min-height: 1000px !important;
  
}
#root {
  
  width: 100%;
  
}
.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 400px;
  left: 500px;
}
.App .MainHeading h2 {
  
  font-size: 50px;
  color: green;
    box-shadow: 3px 5px gray;
}
.container {
  position: absolute;
  position: relative;
  top: 0;
  left:0;
  width: 100%;

  margin: 0 auto;
  height: 100%;
  min-height: 1000px;
  
  background-image: url("../img/todo_bg.jpg");
 background-size: cover;
}


span.Task, input.Task {
  border: 3px solid green;
  padding: 10px 20px;
  border-radius: 10px;
  background: skyblue;
  color: maroon;
  font-weight: 650;
  text-transform: capitalize;
}

.InputAndButton .AddButton{
  margin-left: 30px;
  background: rgb(143, 213, 73);
  color: rgb(16, 70, 117);
}
.InputAndButton input {
  height: 50px;
  border-radius: 8px;
  padding-left: 5px;
  background: aliceblue;
  color: brown;
  font-weight: 800;
}

.InputAndButton input, .InputAndButton button {
  vertical-align: middle;
}
.ListDisplay p {
  color: brown;
}

.ListDisplay li {
  margin-top: 5px;
  display: flex;
  grid-gap: 10px;
}
